<!DOCTYPE html>
<head>
    <title>Product Information</title> 
    <style>
    div.a {font-family: verdana;}
    </style>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script>
function checkout(){
    window.location.href="/checkout"
}
</script>
</head>
<body>
<center>
<h1>Products in Cart</h1>
 <img src="{{.Src}}" alt="{{.Src}}" width=300 height=300>
    
    <li>Product Id : <input name="id" value={{.ID}}> </li>
    
    <li>Product Name : {{.ProductName}}</li>
   
    <li>Description : {{.Description}}</li>
   
    <li>Price : {{.Price}}</li><br><br>


    <input type="button" class="btn btn-success" value="Buy Now" onclick="checkout()">

</center>
</body>
</html>