<html>
<head>
<title>Update product details</title>
</head>
<body>

<form method="post" action="/insertproduct">
 <img src="{{.Image}}"width=300 height=300><br>
Product ID : <input type="text" name="id" value={{.ID}}><br>
Product Name : <input type="text" name="name" value={{.Name}}><br>
Product Price : <input type="text" name="price" value={{.Price}}><br>
Product Description : <input type="text" name="description" value={{.Description}}><br>
Product Quantity : <input type="text" name="quantity" value={{.Quantity}}><br>
Product Image : <input type="text" name="image" value={{.Image}}><br>
<input type="submit" class="btn btn-success" value="Update Product">
</form>

</body>
</html>